* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.list2 {
    margin: 10px;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    border: 2px solid #ccc;
}

h1, h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: 2px solid #007bff;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid transparent;
}

button:hover {
    background-color: #218838;
    border: 2px solid #1e7e34;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 2px solid #ccc;
    position: relative;
    padding-right: 80px; /* Espaço reservado para o botão de exclusão */
}

li span {
    font-weight: bold;
}

/* Estilo do botão deleteBtn */
.deleteBtn {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid transparent;
}

.deleteBtn:hover {
    background-color: #c82333;
    border: 2px solid #bd2130;
}

.editBtn {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid transparent;
}

.editBtn:hover {
    background-color: #046cdb;
    border: 2px solid #167fef;
}
